<?xml version="1.0"?>
<config>
    <modules>
        <MM_CmsContentFileMode>
            <version>1.2.0</version>
        </MM_CmsContentFileMode>
    </modules>
    <global>
        <events>
            <model_save_after>
                <observers>
                    <mm_cmscontentfilemode>
                        <type>singleton</type>
                        <class>MM_CmsContentFileMode_Model_Observer</class>
                        <method>saveContentToFile</method>
                    </mm_cmscontentfilemode>
                </observers>
            </model_save_after>
            <model_load_after>
                <observers>
                    <mm_cmscontentfilemode>
                        <type>singleton</type>
                        <class>MM_CmsContentFileMode_Model_Observer</class>
                        <method>loadContentFromFile</method>
                    </mm_cmscontentfilemode>
                </observers>
            </model_load_after>
        </events>
        <helpers>
            <mm_cmscontentfilemode>
                <class>MM_CmsContentFileMode_Helper</class>
            </mm_cmscontentfilemode>
        </helpers>
        <models>
            <mm_cmscontentfilemode>
                <class>MM_CmsContentFileMode_Model</class>
            </mm_cmscontentfilemode>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <mm_cmscontentfilemode>
                    <file>mm/tailwindcss.xml</file>
                </mm_cmscontentfilemode>
            </updates>
        </layout>
    </frontend>
    <default>
        <cms>
            <mm_cmscontentfilemode>
                <enable_tailwindcss>0</enable_tailwindcss>
                <force_tailwindcompile>0</force_tailwindcompile>
            </mm_cmscontentfilemode>
        </cms>
    </default>
</config>
